.banner {
    background: var(--roxo-degrade);
    color: var(--branco);
    padding: 2em 1em;
    text-align: center;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.banner__texto {
    margin-bottom: 1em;
}

.banner__pesquisa {
    background: transparent;
    width: 95%;
    padding: 8px;
    border: 2px solid var(--branco);
    border-radius: 25px;
    color: var(--branco);
    font-family: var(--fonte-principal);
}

.banner__pesquisa::placeholder {
    text-align: center;
    color: var(--branco);
    font-family: var(--fonte-principal);

}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 1 none;
    outline: 0;
} 