.carrossel {
    margin: 1em;
}

.secao__titulo {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 24px auto 12px auto;
    text-transform: uppercase;
    color: var(--roxo)
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.secao-noticias{
    margin: 1em;
}

.noticia__titulo {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--roxo);
    margin: 8px 0 10px;
}

.card__noticia {
    background: var(--branco-secundario);
    width: 100%;
    border-radius: 8px;
}

.noticia__imagem {
    border-radius: 8px;
}

.card__conteudo {
    padding: 12px;
}

.noticia__link {
    margin-top: 8px;
    display: block;
}






