.carrossel {
    color: var(--roxo);
    margin: 1em;
}

.carrossel__titulo {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 24px auto 12px auto;
    text-transform: uppercase;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

