@import url(styles.css/header.css);
@import url(styles.css/banner.css);
@import url(styles.css/carrossel.css);
@import url(styles.css/rodape.css);

:root {
    --branco:#FFFFFF ;
    --branco-secundario: #E3E6E6;
    --roxo: #800080;
    --roxo-degrade: linear-gradient(97.54deg, #46008C 35.49%, #CF69FF 165.37%);
    --fonte-principal: 'Poppins', sans-serif;
}

body {
    font-family: var(--fonte-principal);
    background: var(--branco-secundario);
}