@import url(styles.css/header.css);
@import url(styles.css/banner.css);
@import url(styles.css/carrossel.css);

:root {
    --branco: #FFFFFF;
    --branco-secundario: #e2e2e2;
    --roxo: #800080;
    --roxo-degrade: linear-gradient(97.54deg, #46008C 35.49%, #CF69FF 165.37%);
    --fonte-principal: 'Poppins', sans-serif;
}

body {
    font-family: var(--fonte-principal);
}